<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/styles.css"/>
    
    <title>Mercado Liebre - Registro</title>
</head>

<body>
    <header class="header">
        <div class="logo-search-container">
            <h1 class="logo-ml" href="/">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" ></a>
            </h1>
        
            <div class="search-bar-container">
                <form action="/" class="search-bar-form">
                    <input type="text" class="search-bar" name="search" placeholder="Buscar productos, marcas o palabras clave"/>      
                    <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>  
                </form>
            </div>
            <p class="nav-subt"><i class="fa-solid fa-hand-holding-dollar"></i>  Comprá en cuotas y sin tarjeta de crédito </p>
        </div>
        <div class="menu-icon">
            <i class="fa-solid fa-bars"></i>
        </div>        
        <nav class="nav-container">
            <ul>
                <li><a class="nav-options" href="#">Ofertas</a></li>
                <li><a class="nav-options" href="#">Tiendas oficiales</a></li>
                <li><a class="nav-options" href="#">Vender</a></li>
                <li><a class="nav-options" href="#">Ayudas</a></li>
            </ul>
            <ul>
                <li><a class="nav-options" href="#">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a class="nav-options" href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a class="nav-options" href="#">Mi compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

    </header>

    <main class="main-register-container">
        <h2>Formulario de registro</h2>
        <section class="register-container">
            <input class="register-field" type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" required minlength="8">
            <input class="register-field" type="text" name="nombre de usuario" id="nombre de usuario" placeholder="Nombre de usuario" required minlength="8">
            <input class="register-field" type="email" name="email" id="email" placeholder="E-mail" required>
            
            <div>
                <h4>Fecha de nacimiento</h4>
                <input type="date" name="fecha de nacimiento" value="22-5-1980">
            </div>
            
            <input class="register-field" type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required minlength="5">
            
            <div class="register-profile">
                <h4>Perfil del usuario</h4>
                <label><input type="radio" name="perfil del usuario" value="Comprador" required>Comprador</label>
                <label><input type="radio" name="perfil del usuario" value="Vendedor" required>Vendedor</label>
            </div>  
            <div>
                <h4>Intereses</h4>
                <div class="register-interests">                    
                    <label><input type="checkbox" name="intereses" value="Electro">Electro</label>
                    <label><input type="checkbox" name="intereses" value="Moda">Moda</label>
                    <label><input type="checkbox" name="intereses" value="Hogar">Hogar</label>
                    <label><input type="checkbox" name="intereses" value="Jugueteria">Jugueteria</label>
                    <label><input type="checkbox" name="intereses" value="Vida sana">Vida sana</label>
                </div>            
            </div>
            <div class="select-img">
                <h4>Seleccionar imagen de perfil</h4>
                <input type="file" name="imagen de perfil" accept=".jpg,.png">
            </div>

            <input class="register-field" type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required minlength="8">
            <input class="register-field" type="password" name="contraseña" id="contraseña" placeholder="Repetir contraseña" required>
        
            
            <input class="register-button" type="submit" value="Registrarse">
            <input class="reset-button" type="reset" value="Borrar datos">
        

        </section>
    </main>


    <footer class="footer">               
        <section class="footer-section">
            <div class="footer-articles">
                <article>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>                
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>                  
                </article>
    
                <article>
                    <i class="fa-solid fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>                
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>                  
                </article>

                <article>
                    <i class="fa-solid fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>                
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>                  
                </article>                  
            </div>
            <p class="footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>        

        </section>
    </footer>    
</body>